django==2.2.10
gunicorn
django-crispy-forms
django_countries
django-filter
pillow
python-decouple
django-cors-headers
django-csp
django-progressive-web-app
whitenoise
django-heroku
django-tinymce
reportlab
python-docx
django-social-share
django-social-widgets
