body{
    background: #FEF8F5;
}
a {
    color: #F37753;
}
a:hover{
    color: #FFFFFF;
}

#hint_id_password1 {
     display: none;
 }
.navbar {
    /* background-color: #ff5500 !important; */
    background: #242732 !important;
}
.blue-bg{
    background: #333748;
    color: #FEF8F5;
    padding-top: 20px;
    padding-bottom: 20px;
}
.xbtn-primary{
    background: #F37753;
    border-radius: 3px;
    border: 1px solid #F37753;
    color: #FFFFFF;
}
.xbtn-primary:hover{
    background: #FFFFFF;
    border-radius: 3px;
    border: 1px solid #FFFFFF;
    color: #242732;
}

.xbtn-white{
    background: #FFFFFF;
    border-radius: 3px;
    border: 1px solid #FFFFFF;
    color: #242732;
}
.xbtn-white:hover{
    background: #F37753 ;
    border-radius: 3px;
    border: 1px solid #F37753;
    color: #FFFFFF;
}
.xbtn-outline{
    color: #F37753;
    border-color: #F37753;
}

.xbtn-outline:hover{
    color: #FFFFFF !important;
    background: #F37753 !important;
    border: 1px solid #F37753;
}

.side-nav{
    background-color: #242732; /* Dark-blue background */
    max-width: 120px;
    text-align: center;
    height: 100vh;
    padding-top: 25px;
}
/* icon Bar */
.icon-bar {
  width: 90px; /* Set a specific width */
  background-color: #242732; /* Dark-blue background */
}

.icon-bar a {
  display: block; /* Make the links appear below each other instead of side-by-side */
  text-align: center; /* Center-align text */
  padding: 16px; /* Add some padding */
  transition: all 0.3s ease; /* Add transition for hover effects */
  color: #F6A182; /* White text color */
  font-size: 36px; /* Increased font-size */
}

.icon-bar a:hover {
  color: #FF6633
}

.active {
  color: #FF6633 !important;
}
/* End icon Bar */

.sidebar{
    background-color: #242732;
    color: #ffffff;
    height: 100vh;
    right: 0px;
}

.cta{
    padding-top: 15px;
    padding-bottom: 15px;
}
.capBg{
    background: #FCDDD4;
}
.vl {
    border-left: 10px solid #ED4D47;
    height: 160px;
}
.my_adcopies{
    background: #FCDDD4;
    border-radius: 15px;

}

footer{
    background: #333748;
    color: #FFFFFF;
}

footer a{
    color: #929595
}
footer .footer-copyright{
    background: rgba(0, 0, 0, 0.25);
    border-radius: 0px;
}


.sidebar-form input.form-control {
    border: none !important;
    background: #FF6633;
}

.sidebar-form-button {
    background: white;
    border-radius: 0px 2px 2px 0px;
    margin-left: -1px;
    color: #FF6633;
}

.pricing{
 background-image: url("/static/img/pricingBg.png");
 background-color: #333748;
 color: white;
}

