

{% load static %}
{% block icon-bar %}

<!-- Add icon library -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<div class="icon-bar pt-5">
  <a class="active" href="/"><i class="fa fa-home"></i></a>
  <a href="/create"><i class="fa fa-plus"></i></a>
  <a href="/my_adcopies"><i class="fa fa-th-large"></i></a>
  <a href="/paraphrase"><i class="fa fa-sticky-note"></i></a>
  <a href="/logout"><i class="fas fa-sign-out-alt"></i></a>
  <a  href="/profile"><img class="rounded-circle" src={{ user.profile.avatar.url }} alt="" style="max-width: 3rem; max-height: 3rem; border: 3px solid #ED4D47;"></a>
</div>

{% endblock icon-bar %}