
{% load static %}
<!DOCTYPE html>

<html lang="en">

      <head>

        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Adcopies Generator -{% block title %} {% endblock %}</title>
        <meta name="description" content="ToolX Instant Adcopies / Newsletter Generator">
        <meta name="keywords" content="">
        <meta name="author" content="demolablaze">



        <!-- Favicon -->
        <link rel="shortcut icon" href="{% static "/img/alt-logo.png"  %}" type="image/x-icon">

        <link href="https://fonts.googleapis.com/css?family=Lato&display=swap" rel="stylesheet">

        <!-- BootstrapCDN-->
         <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<!--         <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">-->

        <!-- Custom styles for this template -->
        <link href="{% static 'css/toolx.css' %}" rel="stylesheet">

        {% block stylesheet %}

        {% endblock stylesheet %}
      </head>

    <body>

     {% block content %}

     {% endblock %}


     <!--jQueryCDN-->
     <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<!--     <script src="{% static 'js/jquery-3.3.1.min.js' %}"></script>-->

     <!--Popper.jsCDN-->
     <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>

     <!--Bootstrap.jsCDN-->
     <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
<!--     <script src="{% static 'js/bootstrap.min.js' %}"></script>-->

     <!-- Font Awesome JS -->
     <script defer src="https://use.fontawesome.com/releases/v5.0.13/js/solid.js" integrity="sha384-tzzSw1/Vo+0N5UhStP3bvwWPq+uvzCMfrN1fEFe+xBmv1C/AtVX5K0uZtmcHitFZ" crossorigin="anonymous"></script>
     <script defer src="https://use.fontawesome.com/releases/v5.0.13/js/fontawesome.js" integrity="sha384-6OIrr52G08NpOFSZdxxz1xdNSndlD4vdcf/q2myIUVO0VsqaGHJsB0RaBE01VTOY" crossorigin="anonymous"></script>


     {% block js %}


     {% endblock %}
    </body>

</html>