

{% load static %}
{% block footer %}

<!-- Footer -->
<footer class="page-footer font-small indigo">

  <!-- Footer Links -->
  <div class="container text-center text-md-left mb-5">

    <!-- Grid row -->
    <div class="row">

      <!-- Grid column -->
      <div class="col-md-4 mx-auto">

        <!-- Links -->
        <h5 class="font-weight-bold  mt-3 mb-4">General</h5>

        <ul class="list-unstyled">
          <li>
            <a href="/">Home</a>
          </li>
          <li>
            <a href="/about">About Adcopies Generator</a>
          </li>
          <li>
            <a href="/pricing">Pricing Plans</a>
          </li>
        </ul>

      </div>
      <!-- Grid column -->

      <hr class="clearfix w-100 d-md-none">

      <!-- Grid column -->
      <div class="col-md-4 mx-auto">

        <!-- Links -->
        <h5 class="font-weight-bold  mt-3 mb-4">Legal</h5>

        <ul class="list-unstyled">
          <li>
            <a href="#!">Terms & Conditions</a>
          </li>
          <li>
            <a href="#!">Privacy Policy</a>
          </li>
          <li>
            <a href="#!">Cookie Policy</a>
          </li>
        </ul>

      </div>
      <!-- Grid column -->

      <hr class="clearfix w-100 d-md-none">

      <!-- Grid column -->
      <div class="col-md-4 mx-auto">
        
        <ul class="list-unstyled pt-5">
          <li>
            <a href="/signup" ><button type="button" class=" xbtn-primary btn btn-primary  py-2">Sign Up for free</button></a>
          </li>

        </ul>

      </div>
      <!-- Grid column -->

    </div>
    <!-- Grid row -->

  </div>
  <!-- Footer Links -->

  <!-- Copyright -->
  <div class="footer-copyright text-center py-3">© 2020 Copyright:ToolX,
    <a href="https://www.viraladmedia.com/"> A Viral Ad Media Product</a>
  </div>
  <!-- Copyright -->

</footer>
<!-- Footer -->


{% endblock footer %}