{% extends "base.html" %}
{% load static %}
{% block title %} Home {% endblock %}
{% block content %}

    {% block nav %} {% include 'nav.html' %} {% endblock nav %}
    <div class="blue-bg">
        <div class="container">
            <div class="row p-3">
              <div class="col-sm-6">
                  <h4>Your Business. Your Clients.</h4>
                  <h2>One Free, Powerful </br> Email / AdCopies </br>Instant generator</h2>
                  <p>See why over 100,000 small businesses love ToolX</p>
                  <div class="cta">
                      <a href="/signup" ><button type="button" class=" xbtn-white btn btn-primary px-5 py-2">Start using <i><b>ToolX</b></i> for free</button></a>
<!--                      <a href="/campaign/create" class="ml-4">Take the tour &rarr;</a>-->
                  </div>
              </div>
              <div class="col-sm-6 text-center">
                  <img src="{% static '/img/Home-Art.png' %}" alt="logo" class="img-fluid">
              </div>
            </div>
        </div>
    </div>

     <div class="container">
        <div class="row p-3">
          <div class="col-sm-6">
            <h3 class="pt-5">About Us</h3>
            <P>While pretty website and fancy landing page can attract prospect to your offer it takes very convincing Adcopies and follow-up emails to convert those prospects to paying customers.</P>
             <div class="capBg">
              <div class="vl"> <p class="p-4"><strong>Your copy in terms of the 3 sublime ingredients of marketing will be the only reason you will be able to sell.</strong></p></div>
            </div>
             </div>
          <div class="col-sm-6 text-center">
              <img src="{% static '/img/Illustration.png' %}" alt="logo" class="img-fluid">
          </div>
        </div>

         <div class="row p-3">
          <div class="col-sm-6 text-center">
              <img src="{% static '/img/illustrations1.png' %}" alt="logo" class="img-fluid">
          </div>
          <div class="col-sm-6 p-3">
            <h3 class="pt-5">Why ToolX for your copies and emails?</h3>
            <P>Writing copies is one of the best assets any online entrepreneur must possess.Experts like Gary Halbert, Jay Abraham, Russell Brunson, Jim Edwards
                and host of other legend copy writers got paid millions if not billions of dollars writing sales letters and AdCopies for people using only these 12 Easy To Follow Steps
            </P>
             </div>
        </div>
     </div>

    <div class="container">
          <div class="row p-5">
               <div class="col-sm-3 text-center">
                  <img src="{% static '/img/avarta.png' %}" alt="logo" class="img-fluid">
              </div>
              <div class="col-sm-9">
                  <p>“ToolX AdCopy and email generatrator guide is perfect for any size of business from the Hundreds to just the Billions. It has saved me a whole lot of time and headaches ”</p>
                  <div class="cta">
                      <a href="/signup" ><button type="button" class=" xbtn-primary btn btn-primary px-5 py-2">Start using <i><b>ToolX</b></i> for free</button></a>
                  </div>
              </div>
          </div>

      </div>
    {% block footer %} {% include 'footer.html' %} {% endblock footer %}

{% endblock %}