{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% block title %} Create {% endblock %}
{% block content %}


<div class="row" >
    <div class="col sticky-top side-nav">
        <a href="/">
          <img src="{% static '/img/alt-logo.png' %}" alt="logo" class="img-responsive">
        </a>
        {% block icon-bar %} {% include 'icon-bar.html' %} {% endblock icon-bar %}
    </div>

    <div class="col-8 mt-5">
         <form method="post">
            {% csrf_token %}
            {{ form.Get_Attention|as_crispy_field }}
            {{ form.Identify_the_Problem_Your_Audience_Have|as_crispy_field }}
            {{ form.Provide_the_Solution|as_crispy_field }}
            {{ form.Present_your_Credentials|as_crispy_field}}
            {{ form.Show_the_Benefits|as_crispy_field}}
            {{ form.Give_Social_Proof|as_crispy_field}}
            {{ form.Make_Your_Offer|as_crispy_field}}
            {{ form.Give_a_Guarantee|as_crispy_field}}
            {{ form.Inject_Scarcity|as_crispy_field}}
            {{ form.Call_to_action|as_crispy_field}}
            {{ form.Give_a_Warning|as_crispy_field}}
            {{ form.Close_with_a_Reminder|as_crispy_field}}

            <button type="submit" class="xbtn-primary btn btn-primary btn-block" id="signup">Submit</button>
         </form>
    </div>
     <div class="col-2 ml-auto sticky-top sidebar">
        {% block sidebar %} {% include 'sidebar.html' %} {% endblock sidebar %}
     </div>

</div>

{% endblock %}