{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% block title %} My Adcopies {% endblock %}
{% block content %}




<div class="row" >
    <div class="col side-nav">
        <a href="/">
          <img src="{% static '/img/alt-logo.png' %}" alt="logo" class="img-responsive">
        </a>
        {% block icon-bar %} {% include 'icon-bar.html' %} {% endblock icon-bar %}
    </div>

    <div class="col-10 mt-5">
        <h4>My Adcopies </h4>

            <div class="row mt-5">
                {% for adcopy in adcopies %}
                    <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                        <div class="my_adcopies card p-3">
                            <h5><a href="{% url 'preview' adcopy.pk%}" target="_blank">{{ adcopy.Get_Attention}}</a></h5>
                            <p> {{ adcopy.created_on.date }}</p>
                        </div>
                    </div>
                {% endfor %}
            </div>

    </div>
</div>

{% endblock %}