{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% block title %} Congratulations {% endblock %}
{% block content %}




<div class="row" >
    <div class="col side-nav">
        <a href="/">
          <img src="{% static '/img/alt-logo.png' %}" alt="logo" class="img-responsive">
        </a>
        {% block icon-bar %} {% include 'icon-bar.html' %} {% endblock icon-bar %}
    </div>

    <div class="col-10 my-auto p-5">
        <h4 class="text-center"><strong>{{ generated.Get_Attention }}</strong></h4>
        <p>{{ generated.Identify_the_Problem_Your_Audience_Have}}.</p>
        <p>{{ generated.Provide_the_Solution}}</p>
        <p>{{ generated.Present_your_Credentials}}</p>
        <p>{{ generated.Show_the_Benefits}}</p>
        <p>{{ generated.Give_Social_Proof}}</p>
        <p>{{ generated.Make_Your_Offer}}</p>
        <p>{{ generated.Give_a_Guarantee}}</p>
        <p>{{ generated.Inject_Scarcity}}</p>
        <p><strong>{{ generated.Call_to_action}}</strong></p>
        <p>{{ generated.Give_a_Warning}}</p>
        <p><strong>{{ generated.Close_with_a_Reminder}}</strong></p>

          <a href="/download">
            <button type="button" class=" xbtn-primary btn btn-primary px-5 py-2">Download</button>
        </a>

    </div>
</div>

{% endblock %}